.contact{
    color: $text-color;
    margin-top: 40px;
    &_form{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        width: 744px;
        padding-bottom: 20px;
        input{
            padding-left: 20px;
            height: 60px;
            margin-bottom: 40px;
            border-radius: 12px;
            border: none;

        }
        textarea{
            padding-left: 20px;
            padding-top: 20px;
            border-radius: 12px;
            border: none;
            margin-bottom: 45px;
            resize: none;

        }
        .contact_policy{
            font-size: 12px;
            // display: grid;
            // grid-template-columns: repeat(2,auto);
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            input{
                height: 12px;
                margin-bottom: 0px;
                margin-right: 20px;
            }

        }


    }

    &_social{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        a{
            color: $text-color;
            transition: 00.6s;
            &:hover{
                color: $main-color;
            }
        }

        .email{
            text-transform: lowercase;
        }
        .insta{
            text-transform: lowercase;
        }

        &_item{
            padding-top: 40px;
            width: 500px;
            img{
                margin-right: 30px;
            }




        }
    }
    &_address{
        #map{

                height: 400px;
                margin-top: 1rem;

        }
    }
    &_order{
        margin-top: 2rem;
    }
}